/* Подключение шрифта */
@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url("/src/fonts/PT_Sans-Web-Regular.ttf"), format("ttf");
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans-Italic', sans-serif;
    src: url("/src/fonts/PT_Sans-Web-Italic.ttf"), format("ttf");
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans-Bold', sans-serif;
    src: url("/src/fonts/PT_Sans-Web-Bold.ttf"), format("ttf");
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans-BoldItalic', sans-serif;
    src: url("/src/fonts/PT_Sans-Web-BoldItalic.ttf"), format("ttf");
    font-display: swap;
}

/* Обнуление стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    list-style: none;
}

/* Настройки для тела сайта */
body {
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #fff;
    cursor: default;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
}

.wrapper {
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    box-sizing: border-box;
    flex: 1 0 auto;
    width: 1200px;
    display: block;
    align-items: center;
}

/* Шапка */
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo__name {
    color: #16683F;
    font-size: 18px;
}

.button__logo {
    border: none;
    background-color: transparent;
    font-size: 23px;
}

.logo__buttons {
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 250px;
}

@media screen and (width: 1024px) {
    .header {
        display: none;
    }
}

@media screen and (width: 768px) {
    .header {
        display: none;
    }
}

@media screen and (width: 390px) {
    .header {
        display: none;
    }
}

.header__text {
    border: none;
    background-color: transparent;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    color: #16683F;
    cursor: pointer;
}

.header__buttons {
    background-color: transparent;
    border: #16683F 1px solid;
    color: #16683F;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
}

.header__buttons:hover {
    color: #fff;
    background-color: #16683F;
}

/* Навигация */
.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header__search {
    font-size: 23px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    margin-left: -15px;
    cursor: pointer;
    color: #979898;
}

.header__search:hover {
    color: #3A3C3C;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__item {
    margin: 0 10px;
    text-transform: uppercase;
}

.navbar__link {
    font-size: 12px;
    position: relative;
    color: #16683F;
}

.header__navbar {
    margin-left: -15px;
}

.arrow {
    font-size: 20px;
    background-color: transparent;
    border: none;
    margin-top: 3px;
}

.arrow:not(:first-child) {
    margin-left: -10px;
}

.header__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
}

@media screen and (width: 1024px) {
    .container {
        width: 1000px;
    }

    .header__inner {
        width: 1000px;
    }

    .logo__buttons {
        width: 150px;
    }

    .header__text {
        font-size: 18px;
    }

    .header__navigation {
        display: none;
    }

    .header__navbar {
        display: none;
    }

    .header__search {
        display: none;
    }
}

@media screen and (width: 768px) {
    .container {
        width: 750px;
    }

    .header__inner {
        width: 750px;
    }

    .logo__buttons {
        width: 100px;
    }

    .header__text {
        font-size: 18px;
    }

    .header__navigation {
        display: none;
    }

    .header__navbar {
        display: none;
    }

    .header__search {
        display: none;
    }
}

/* Тело страницы */
/* Навигация */
@media screen and (width: 1280px) {
    main {
        width: 1200px;
        display: flex;
        padding-right: 40px;
        padding-left: 40px;
    }
}

.section__way {
    background-color: #EDEDED;
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 18px;
}

.arrows {
    border: none;
    background-color: transparent;
    font-size: 18px;
    align-items: center;
}

/* Боковая навигация */
.aside__navbar {
    background-color: #fff;
    width: 220px;
    align-items: center;
    padding-top: 30px;
    height: 140px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.navbar__items.active {
    border-left-color: #16683F;
}

.navbar__links {
    display: block;
    padding: 5px 10px 5px 20px;
    border-left: solid 4px transparent;
    border-left-color: transparent;
    cursor: pointer;
    color: #828282;
}

.navbar__links:hover {
    color: #16683F;
}

.section__way-content {
    margin-left: 40px;
}

.search {
    background-image: url(/src/assets/images/search-regular-24.png);
    background-size: 18px;
    background-position-x: 180px;
    background-position-y: 50%;
    background-repeat: no-repeat;
    border: #3A3C3C 1px solid;
    border-radius: 5px;
    height: 30px;
    width: 220px;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 16px;
}

/* Основная контентная часть */
.text__title {
    font-weight: lighter;
    font-size: 20px;
    padding: 20px 20px 0px 20px;
}

.texts__title {
    font-weight: lighter;
    font-size: 35px;
    padding: 20px 20px 0px 20px;
    text-align: center;
}

.text__txt {
    color: #828282;
    font-weight: lighter;
    font-size: 20px;
    padding: 20px;
}

.wrapper {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

.section-main__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1000px;
    gap: 20px;
    margin-top: 20px;
}

.main__content {
    width: 970px;
}

/* Кнопки смены плиток на карусель */
.hidden {
    display: none
}

.section__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.section__button:not(:last-child) {
    margin-right: 5px;
}

.section__button {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    border: none;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #16683F;
    cursor: pointer;
}

.section__button:hover {
    background-color: #16683F;
    color: #fff;
}

/* Слайдер */
.filter-all__button {
    margin-top: 20px !important;
    color: #fff !important;
    background-color: #16683F !important;
    width: 50px !important;
    height: 35px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer !important;
    border-radius: 10px !important;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5) !important;
    font-size: 15px !important;
    border: none !important;
}

.banner-section {
    margin-top: 150px;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-left: -250px;
    z-index: 99;
}

.button__filter {
    display: block;
    margin-top: -50px;
    font-size: 40px;
    margin-left: 100px;
    color: #fff;
    cursor: pointer;
}

.button__filter:hover {
    color: #828282;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
}

.item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
}

.items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
}

.button-container .button {
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
}

.button-container .button:hover {
    opacity: 1;
}

.button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: transperent;
    border-radius: 50%;
    z-index: -99;
}

.button-container .button:nth-child(1) {
    float: left;
    margin-left: -250px;
}

.button-container .button:nth-child(2) {
    float: right;
    margin-right: -250px;
}

/* Раздел списка мастер-классов */
.section__list {
    margin-top: 150px;
    padding: 20px;
    z-index: -1;
}

.list__card {
    width: 900px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #16683F 1px solid;
}

.list__card:not(:last-child) {
    margin-bottom: 20px;
}

.card__photo {
    display: flex;
    align-items: flex-start;
    object-fit: contain;
}

.image__card {
    width: 300px;
    height: 200px;
}

.cards__info {
    width: 310px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card__text {
    color: #3A3C3C;
    font-size: 18px;
    margin-bottom: 10px;
}

.card__txt {
    color: #828282;
    font-size: 16px;
}

.info__button {
    border: none;
    background-color: #16683F;
    color: #fff;
    width: 130px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 15px;
    cursor: pointer;
}

.info__button:hover {
    background-color: #0c3d25;
}

.button__card {
    border: none;
    background-color: #fff;
    width: 20px;
    border-radius: 100%;
    height: 20px;
    color: #000;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: center;
}

/* Раздел смены карусели */
.filter-list {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 15px;
}

.filter-list__button {
    background-color: #16683F;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    color: #fff;
    padding: 2px 6px;
    font-weight: bold;
    min-width: 70px;
    cursor: pointer;
    font-size: 12px;
}

.filter-list__item:not(:first-child) {
    margin-left: 10px;
}

.filter-list__button:hover {
    background-color: #0c3d25;
}

.filter-list__button:active {
    background: #dfd7d7;
    border: #16683F 1px solid;
    transition: background 0s;
}

.filter-list.filter-list--active {
    right: 0;
}

.filter-grid {
    width: 900px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto, 20px);
    gap: 20px;
    margin-left: 20px;
}

.filter-grid__item {
    width: 100%;
    height: 240px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.filter-grid__item:hover .filter-grid__detail {
    bottom: 0;
}

.filter-grid__img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    height: 100%;
    background-color: #16683F;
}

.filter-grid__detail {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    background-color: rgba(212, 205, 205, 0.582);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    justify-content: space-between;
    display: flex;
}

.filter-grid__name {
    margin: 5px 0;
    font-size: 16px;
    text-align: left;
    width: 80%;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    cursor: pointer;
}

.filter-grid__name:hover {
    color: #dfd7d7;
}

.filter-grid__button {
    color: #16683F;
    background-color: #ffffff;
    font-weight: bold;
    border: none;
    width: 130px;
    height: 30px;
    border-radius: 20px;
    font-size: 11px;
    cursor: pointer;

}

.filter-grid__button:hover {
    background-color: #0c3d25;
    color: #fff;
}

/* Секция "оставить заявку" */
.section-application {
    margin-top: 50px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 800px;
}

.application__text {
    color: #3A3C3C;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.application__txt {
    color: #3A3C3C;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
}

.application__input {
    width: 500px;
    height: 50px;
    padding: 10px;
    border: #828282 1px solid;
}

.application__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.application__input:not(:last-child) {
    margin-bottom: 20px;
}

.application__button {
    width: 160px;
    border: none;
    height: 40px;
    background-color: #16683F;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.application__button:hover {
    background-color: #0c3d25;
}

.application-checkbox {
    margin-bottom: 10px;
}

.checkbox {
    margin-right: 5px;
}

.application-href {
    text-decoration: underline solid #000;
}

.application-href:hover {
    color: #0c3d25;
    text-decoration: underline solid #0c3d25;
}

@media screen and (width: 1024px) {
    main {
        width: 970px;
        display: flex;
        padding-right: 40px;
        padding-left: 40px;
    }

    .section__way {
        width: 773px;
    }

    .text__title {
        width: 700px;
    }

    .text__txt {
        width: 750px;
    }

    .section__buttons {
        margin-right: 180px;
    }

    .master-class {
        width: 900px;
    }

    .main__content {
        width: 900px;
    }

    .aside-navbar {
        width: 200px;
    }

    .aside__navbar {
        width: 200px;
    }

    .search {
        width: 200px;
    }

    .section-main__grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 900px;
        gap: 20px;
        margin-top: 20px;
    }

    .list__card {
        width: 700px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: #16683F 1px solid;
    }
    
    .list__card:not(:last-child) {
        margin-bottom: 20px;
    }
    
    .card__photo {
        display: flex;
        align-items: flex-start;
        object-fit: contain;
    }
    
    .image__card {
        width: 200px;
        height: 150px;
    }
    
    .cards__info {
        width: 250px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .card__text {
        color: #3A3C3C;
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .card__txt {
        color: #828282;
        font-size: 16px;
    }
    
    .info__button {
        border: none;
        background-color: #16683F;
        color: #fff;
        width: 130px;
        height: 30px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        padding: 20px;
        font-size: 15px;
        cursor: pointer;
    }
    
    .info__button:hover {
        background-color: #0c3d25;
    }

    .carousel__list {
        width: 900px;
        margin-left: 30px;
    }

    .section__list {
        width: 900px;
        margin-left: -30px;
    }

    .button-container .button:nth-child(1) {
        float: left;
        margin-left: -200px;
    }
    
    .button-container .button:nth-child(2) {
        float: right;
        margin-right: -200px;
    }

    .section-application{
        margin-left: -50px;
    }
    .filter-grid__item {
        width: 80%;
        height: 240px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.3s linear;
    }
    .filter-list{
        width: 740px;
        
    }
    .filter-list__button{
        font-size: 9px;
    }
    .filter-grid {
        width: 800px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(auto, 20px);
        gap: 20px;
        margin-left: 20px;
    }
    
    .filter-grid__item {
        width: 80%;
        height: 240px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.3s linear;
    }

}

@media screen and (width: 768px) {
    .wrapper__grid {
        margin-left: -200px;
    }

    .main {
        margin-left: -80px;
    }

    .main__content {
        width: 500px;
    }

    .wrapper {
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    main {
        width: 700px;
        display: flex;
    }

    .filter-all {
        margin-left: 10px;
    }

    .navbar__links {
        padding: 5px 10px 5px 10px;
    }

    .section__way {
        width: 440px;
    }

    .text__title {
        width: 500px;
        font-size: 18px;
    }

    .text__txt {
        width: 450px;
        font-size: 16px;
        padding-left: 20px;
    }

    .section__text {
        width: 450px;
    }

    .section__buttons {
        margin-right: 200px;
    }

    .master-class {
        width: 650px;
    }

    .main__content {
        width: 650px;
    }

    .aside-navbar {
        width: 150px;
    }

    .aside__navbar {
        width: 150px;
    }

    .search {
        width: 150px;
    }

    .main__content {
        width: 600px;
    }

    .section-main__grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 650px;
        gap: 10px;
        margin-top: 20px;
    }

    .list__card {
        width: 550px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: #16683F 1px solid;
    }
    
    .list__card:not(:last-child) {
        margin-bottom: 20px;
    }
    
    .card__photo {
        display: flex;
        align-items: flex-start;
        object-fit: contain;
    }
    
    .image__card {
        width: 100px;
        height: 80px;
    }
    
    .cards__info {
        width: 250px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .banner-section {
        margin-right: 20px;
    }
    
    .card__text {
        color: #3A3C3C;
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    .card__txt {
        color: #828282;
        font-size: 10px;
    }
    
    .info__button {
        border: none;
        background-color: #16683F;
        color: #fff;
        width: 120px;
        height: 20px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        padding: 20px;
        font-size: 13px;
        cursor: pointer;
    }
    
    .info__button:hover {
        background-color: #0c3d25;
    }

    .carousel__list {
        width: 750px;
    }

    .section__list {
        width: 700px;
        margin-left: -30px;
    }

    .section-application{
        margin-left: -200px;
    }

    .filter-grid {
        width: 500px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 200px);
    }

    .filter-grid__item {
        width: 150px;
        height: 150px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.3s linear;
    }

    .filter-list{
        width: 450px;
        margin-left: -350px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .filter-list__button{
        font-size: 14px;
        width: 400px;
        border-radius: 2px;
    }

    .section-application {
        margin-left: -100px;
        width: 500px;
        margin-bottom: 300px;
    }
    
    .items .item {
        width: 200px;
        height: 200px;
    }

    .button-container .button:nth-child(1) {
        margin-left: -150px;
    }
    
    .button-container .button:nth-child(2) {
        margin-right: -150px;
    }
}

@media screen and (width: 390px) {
    .wrapper {
        width: 370px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container {
        width: 370px !important;
    }

    main {
        width: 390px;
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
    }
    .aside__search{
        display: none;
    }

    .filter-all {
        margin-left: -40px;
    }

    .navbar__links {
        padding: 5px 5px 5px 5px;
    }

    .button__filter {
        font-size: 20px;
        margin-left: 50px;
    }

    .section__way {
        width: 390px;
        display: none;
    }

    .text__title {
        width: 390px;
    }

    .text__txt {
        width: 390px;
    }

    .section__buttons {
        margin-right: 10px;
    }

    .master-class {
        width: 390px;
    }

    .main__content {
        width: 390px;
    }

    .aside-navbar {
        width: 100px;
        display: none;
    }

    
    .navbar__items {
        font-size: 10px;
    }

    .aside__navbar {
        width: 100px;
        height: 100px;
        display: none;
    }

    .search {
        width: 100px;
    }

    .main__content {
        width: 390px;
    }

    .section-main__grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 390px;
        gap: 10px;
        margin-top: 20px;
    }

    .list__card {
        width: 350px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: #16683F 1px solid;
    }
    
    .list__card:not(:last-child) {
        margin-bottom: 20px;
    }
    
    .card__photo {
        display: flex;
        align-items: flex-start;
        object-fit: contain;
    }
    
    .image__card {
        width: 100px;
        height: 80px;
    }
    
    .cards__info {
        width: 250px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .button__filter {
        margin-top: -30px;
    }
    

    .banner-section {
        margin-left: 100px;
    }
    
    .card__text {
        color: #3A3C3C;
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    .card__txt {
        color: #828282;
        font-size: 10px;
    }
    
    .info__button {
        border: none;
        background-color: #16683F;
        color: #fff;
        width: 100px;
        height: 20px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        padding: 20px;
        font-size: 11px;
        cursor: pointer;
    }

    .button__card {
        width: 20px;
        height: 10px;
        font-size: 10px;
    }
    
    .info__button:hover {
        background-color: #0c3d25;
    }

    .info__text {
        margin-left: 5px;
    }

    .section__buttons {
        margin-right: 40px;
    }

    .carousel__list {
        width: 370px;
    }

    .section__list {
        width: 380px;
        margin-left: -10px;
    }

    .section-application{
        margin-left: -200px;
    }

    .filter-grid__item {
        width: 80%;
        height: 240px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.3s linear;
    }
    .filter-list{
        width: 390px;
        
    }
    .filter-list__button{
        font-size: 9px;
    }
    .filter-grid {
        width: 300px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(auto, 20px);
        gap: 20px;
        margin-left: 20px;
    }
    
    .filter-grid__item {
        width: 80%;
        height: 240px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.3s linear;
    }

    .section-application {
        margin-bottom: 50px;
    }

    .items {
        margin-right: 105px;
    }
    
    .items .item {
        width: 200px;
        height: 200px;
    }

    .button-container .button:nth-child(1) {
        margin-left: -50px;
    }
    
    .button-container .button:nth-child(2) {
        margin-right: -50px;
    }

    .items {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
    }
    
    .items .item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120px;
        height: 120px;
        border-radius: 20px;
        overflow: hidden;
        transition: all 300ms ease-in-out;
        z-index: -1;
        opacity: 0;
    }
    
    .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .item.active {
        opacity: 1;
        z-index: 99;
        box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
    }
    
    .item.prev {
        z-index: 2;
        opacity: 0.25;
        transform: translate(-125%, -50%);
    }
    
    .item.next {
        z-index: 2;
        opacity: 0.25;
        transform: translate(25%, -50%);
    }
    
    .items .button-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 275px;
        z-index: 100;
    }
    
    .section-application {
        margin-top: 50px;
        display: block;
        align-items: center;
        justify-content: center;
        margin-left: -2px;
        width: 370px;
    }
    
    .application__text {
        color: #3A3C3C;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
    
    .application__txt {
        color: #3A3C3C;
        font-size: 14px;
        font-weight: lighter;
        text-align: center;
        margin-top: 10px;
    }
    
    .application__input {
        width: 370px;
        height: 50px;
        padding: 10px;
        border: #828282 1px solid;
    }
    
    .application__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    
    .application__input:not(:last-child) {
        margin-bottom: 20px;
    }

    .application-checkbox {
        margin-bottom: 10px;
        font-size: 14px;
    }
    
    .checkbox {
        margin-right: 5px;
    }
    
    .application__button {
        width: 160px;
        border: none;
        height: 40px;
        background-color: #16683F;
        color: #fff;
        border-radius: 20px;
        font-size: 10px;
        cursor: pointer;
    }

    .filter-list {
        display: flex;
        align-items: center;
        margin-right: 20px;
        overflow-x: scroll;
        width: 350px !important;
    }
    
    #filter-list {
        width: 200px;
    }

    .filter-list__button {
        background-color: #16683F;
        border: none;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        color: #fff;
        padding: 2px 6px;
        font-weight: bold;
        min-width: 90px;
        cursor: pointer;
        font-size: 8px;
    }
    
    .filter-list__item:not(:first-child) {
        margin-left: 10px;
    }
    
    .filter-list__button:hover {
        background-color: #0c3d25;
    }
    
    .filter-list__button:active {
        background: #dfd7d7;
        border: #16683F 1px solid;
        transition: background 0s;
    }
    
    .filter-list.filter-list--active {
        right: 0;
    }
    
    .filter-grid {
        width: 200px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(auto, 20px);
        gap: 20px;
        margin-left: 20px;
    }
    
    .filter-grid__item {
        width: 100%;
        max-width: 200px;
        height: 200px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.3s linear;
    }
    
    .filter-grid__item:hover .filter-grid__detail {
        bottom: 0;
    }
    
    .filter-grid__img {
        -o-object-fit: contain;
        object-fit: contain;
        width: 100%;
        height: 100%;
        background-color: #16683F;
    }
    
    .filter-grid__detail {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 10px 10px;
        z-index: 1;
        transition: all 0.4s ease-in-out;
        background-color: rgba(212, 205, 205, 0.582);
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
        justify-content: space-between;
        display: flex;
    }
    
    .filter-grid__name {
        margin: 5px 0;
        font-size: 16px;
        text-align: left;
        width: 80%;
        color: #ffffff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
        cursor: pointer;
    }
    
    .filter-grid__name:hover {
        color: #dfd7d7;
    }
    
    .filter-grid__button {
        color: #16683F;
        background-color: #ffffff;
        font-weight: bold;
        border: none;
        width: 130px;
        height: 30px;
        border-radius: 20px;
        font-size: 11px;
        cursor: pointer;
    
    }
    
}

/* Подвал */
.footer {
    margin-top: 50px;
    background-color: #211F1F;
    display: block;
    flex: 0 0 auto;
    height: 200px;
    padding: 40px;
}

.footer-section {
    display: flex;
    justify-content: space-around;
}

.footer-section__text {
    font-weight: lighter;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}

.footer-section__text:hover {
    color: #828282;
}

.footer__text {
    color: #828282;
    font-size: 14px;
    margin-top: 70px;
}

@media screen and (width: 768px) {
    .footer {
        display: none;
    }
}

@media screen and (width: 1024px) {
    .footer {
        display: none;
    }
}

@media screen and (width: 390px) {
    .footer {
        display: none;
    }
}

/* Страница мастер-класса */
/* Раздел описания мастер-класса */
.section__texts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section__lists {

    padding: 20px;
    z-index: -1;
}

.lists__card {
    width: 900px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #16683F 1px solid;
    border-top: #16683F 1px solid;
}

.lists__card:not(:last-child) {
    margin-bottom: 20px;
}

.cards__photo {
    display: block;
    align-items: center;
    justify-content: center;
}

.image__cards {
    width: 300px;
    height: 200px;
}

.cards__info {
    width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.cards__txt {
    color: #828282;
    font-size: 18px;
    width: 520px;
}

/* блок с временем на мастер класс */
.master__time {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hide1 {
    width: 80px;
    border-top: #16683F 1px solid;
    margin-top: 20px;
}

.infos__button {
    border: none;
    background-color: #16683F;
    color: #fff;
    width: 180px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 15px;
    cursor: pointer;
    font-size: 14px;
}

/* Блок что будет на мастер классе */
.master__prediction {
    margin-bottom: 60px;
}

.master__title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.filterr-grid {
    width: 900px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.filterr-grid__item {
    width: 240px;
    height: 270px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.filterr-grid__item:not(:last-child) {
    margin-right: 20px;
}

.filterr-grid__img {
    width: 240px;
    height: 270px;
    background-color: rgba(212, 205, 205, 0.582);
    border-radius: 10px 10px 0px 0px;
}

.filterr-grid__detail {
    display: flex;
    width: 240px;
    height: 50px;
    background-color: #16683F;
    border-radius: 0px 0px 10px 10px;
    align-items: center;
    justify-content: center;
}

.filterr-grid__name {
    font-size: 16px;
    text-align: left;
    width: 80%;
    color: #ffffff;
    text-align: center;
}